<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/style.css" />
    <link rel="stylesheet" href="scss/page/style.css" />
    <title>ポートフォリオ</title>
  </head>
  <body>
    <!-- <div class="shutter">
      <div class="shutter-sentence">
        <p>Wellcome to</p>
        <p>mypage!!</p>
      </div>
      <div class="first-animation">
        <img
          src="./../../img/first-animation/boll.png"
          alt="ボール画像"
          class="first-animation__ball"
        />
        <img
          src="./../../img/first-animation/dribble.png"
          alt="ドリブル画像"
          class="first-animation__dribble"
        />
        <img
          src="./../../img/first-animation/shoot.png"
          alt="シュート画像"
          class="first-animation__shoot"
        />
      </div>
    </div> -->
    <div id="particles-js"></div>
    <header class="header-nav">
      <div class="header-nav__menu">
        <ul class="header-nav__menu--items">
          <li><a href="#About">About</a></li>
          <li><a href="#Skills">Skills</a></li>
          <li><a href="#Works">Works</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="errorpart">
        <% if (errorpart != "") { %>
        <p class="pt-80"><%= errorpart %></p>
        <% } %>
      </div>
      <div class="toptitle" id="top">
        <div class="toptitle--text">
          <h1>
            If you want to go fast, go alone. <br />
            If you want to go far, go together.
          </h1>
        </div>
      </div>
      <article class="top-container">
        <section class="top-contents pt-80" id="About">
          <h2>About</h2>
          <div class="top-contents__items">
            <div class="top-contents__items__text py-100">
              <p>
                Name：平根卓也<br />Age：30<br />History：<br />工業高等専門学校では電子制御を専攻<br />
                現職にて光回線のネットワーク設備保守業務や携帯電話基地局工事の工事管理を担当<br />
                フリーランスとしても活動しており、業務自動化ツールの開発など<br />
                様々な案件にも参画している
              </p>
              <div class="about-link">
                <p>link:</p>
                <a href="https://twitter.com/mayoi88n">Twitter</a>
                <a href="https://www.instagram.com/takuyahirane/">Instagram</a>
                <a href="https://github.com/mayoimayoi">GitHub</a>
              </div>
            </div>
            <div class="top-contents__items__img top-contents__profileimg">
              <img
                class="br-40 top-contents__profileimg--one"
                src="./../../img/myPhot.png"
                alt="プロフィール写真"
              />
              <div class="top-contents__profileimg--second">
                <img
                  class="br-40"
                  src="./../../img/myPhot2.png"
                  alt="プロフィール写真2枚目"
                />
              </div>
            </div>
            <div class="top-contents__items__img__sp">
              <img
                class="br-40"
                src="./../../img/myPhot.png"
                alt="プロフィール写真"
              />
              <div class="">
                <img
                  class="br-40 mr-40"
                  src="./../../img/myPhot2.png"
                  alt="プロフィール写真2枚目"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="top-contents pt-80" id="Skills">
          <h2>Skills</h2>
          <div class="top-contents__items">
            <div class="top-contents__items__img">
              <img
                class="br-60"
                src="./../../img/webPhot.png"
                alt="WEBコーディングイメージ画像"
              />
            </div>
            <div class="top-contents__items__img__sp my-40">
              <img
                class="br-60"
                src="./../../img/webPhot.png"
                alt="WEBコーディングイメージ画像"
              />
            </div>
            <div class="top-contents__items__text">
              <h3>WEBコーディング</h3>
              <p>
                ・HTMLによるサイトコーディング<br />
                ・CSS及びSCSSを利用したデザイン編集 <br />
                （アニメーション、変数利用、レスポンシブデザイン）<br />
                ・ JavaScript等を使用した動的サイト構築<br />
                （NodeJSやJquery等も使用可能）<br />
                ・デザインツールを使用したサイト設計<br />
                （Figma等のツールを使用可能）
              </p>
            </div>
          </div>
          <div class="top-contents__items">
            <div class="top-contents__items__img__sp my-40">
              <img
                class="br-60"
                src="./../../img/dbPhot.png"
                alt="データベースイメージ画像"
              />
            </div>
            <div class="top-contents__items__text">
              <h3>データ処理</h3>
              <p>
                ・各種データベース処理<br />
                （AWS・自作DBに対応）<br />
                ・小規模案件への対応<br />
                （ACCESSによるデータ管理）
              </p>
            </div>
            <div class="top-contents__items__img">
              <img
                class="br-60"
                src="./../../img/dbPhot.png"
                alt="データベースイメージ写真"
              />
            </div>
          </div>
          <div class="top-contents__items">
            <div class="top-contents__items__img">
              <img
                class="br-60"
                src="./../../img/dxPhot.png"
                alt="DXイメージ画像"
              />
            </div>
            <div class="top-contents__items__img__sp my-40">
              <img
                class="br-60"
                src="./../../img/dxPhot.png"
                alt="DXイメージ画像"
              />
            </div>
            <div class="top-contents__items__text">
              <h3>DX</h3>
              <p>
                ・クライアント様の職場のDX化を推進<br />
                （DX技術のコツを提供）<br />
                ・自動化ツールの作成<br />
                （RPA、OCR、VBAを使用可能）<br />
                ・データ活用<br />
                （スクレイピング、BIツール利用）
              </p>
            </div>
          </div>
        </section>
        <section class="top-contents pt-80" id="Works">
          <h2>Works</h2>
          <div class="works-box mt-40">
            <div class="works-box__items">
              <a href="https://www.talk-talk.jp/">
                <img
                  src="./../../img/talk-talk.png"
                  alt="トークトークイメージ画像"
                />
              </a>
              <a href="https://www.talk-talk.jp/">
                <h3>Talk-Talk</h3>
              </a>
              <p>
                使用技術<br />
                HTML・CSS・NodeJS<br />
                MySQL
              </p>
            </div>
            <div class="works-box__items mt-40">
              <a href="https://mayoimayoi.github.io/positivegiverscool/">
                <img
                  src="./../../img/positiveGivers.png"
                  alt="介護事業所様サイトイメージ画像" /></a
              ><a href="https://mayoimayoi.github.io/positivegiverscool/">
                <h3>介護事業所様サイト</h3></a
              >
              <p>
                使用技術<br />
                HTML・CSS・JQuery<br />
                microcms
              </p>
            </div>
          </div>
        </section>
        <section class="top-contents pt-80" id="Contact">
          <h2>Contact</h2>
          <form class="customer-form" action="/sendmail " method="POST">
            <p class="mt-20">お名前</p>
            <input type="text" name="customer_name" />
            <p class="mt-20">連絡先（メールアドレス）</p>
            <input type="email" name="customer_address" />
            <p class="mt-20">その他の連絡先（twitter等）</p>
            <input type="text" name="customer_account" />
            <p class="mt-20">問い合わせ内容</p>
            <textarea class="" name="customer_content"></textarea>
            <div class="form-btn my-40">
              <button class="form-btn">送信</button>
            </div>
          </form>
        </section>
        <div class="top-icon">
          <a href="#top">
            <img
              src="./../../img/outline_keyboard_double_arrow_up_black_24dp.png"
              alt="ページ最上部へ戻るアイコン"
          /></a>
        </div>
      </article>
    </main>
    <script src="./../../JavaScript/particles.min.js"></script>
    <script src="./../../JavaScript/script.js"></script>
  </body>
</html>
